@charset "utf-8";
/* CSS Document */

h1{
	margin: 0px;
	padding: 10px 0;
	text-align: right;
	font-size: 11px;
	font-weight:100;
	color: #9d514d;
}
h2{margin:0px;
   font-size:12px;}
   

h3{
	margin:0px;
	padding:0px;
}

h4{	
	padding:0;
	margin:0;
	}
	
h5{
	padding:0;
	margin:0;
}

	
h6{margin:0px;
   font-size:12px;}
p{
	margin: 0px;
	font-size: 13px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	color: #604c3f;
}
img{margin-left:0px;
	padding-left:0px;}

a {
	margin: 0px;
	font-size: 13px;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;  

}

a:link {
	color:#7a6a56;
}

a:hover {
	opacity:0.6;
}

a:visited {
  color: #7a6a56;
}

.font-size11{
	font-size:11px;
}

.font-size14{
	font-weight:bold;
	font-size:14px;
}

.FontPink{
	color:#d70051;
}

