@charset "utf-8";
/* CSS Document */



/*--------------------------------------------------OPTION　*/

/*------Space　*/
.sp-pt1{padding-top:1px;}
.sp-pt10{padding-top:10px;}
.sp-pt15{padding-top:15px;}
.sp-pt20{padding-top:20px;}
.sp-pt30{padding-top:30px;}
.sp-pt40{padding-top:40px;}
.sp-pt50{padding-top:50px;}

.sp-pb10{padding-bottom:10px;}
.sp-pb15{padding-bottom:15px;}
.sp-pb20{padding-bottom:20px;}
.sp-pb30{padding-bottom:30px;}
.sp-pb40{padding-bottom:40px;}
.sp-pb50{padding-bottom:50px;}

.sp-pr5{padding-right:5px;}
.sp-pr10{padding-right:10px;}
.sp-pr20{padding-right:20px;}
.sp-pr30{padding-right:30px;}
.sp-pr40{padding-right:40px;}
.sp-pr50{padding-right:50px;}

.sp-pl5{padding-left:5px;}
.sp-pl10{padding-left:10px;}
.sp-pl20{padding-left:20px;}
.sp-pl30{padding-left:30px;}
.sp-pl40{padding-left:40px;}
.sp-pl50{padding-left:50px;}
.sp-pl250{padding-left:250px;}

.sp-mt10{margin-top:10px;}
.sp-mt15{margin-top:15px;}
.sp-mt20{margin-top:20px;}
.sp-mt25{margin-top:25px;}
.sp-mt30{margin-top:30px;}
.sp-mt40{margin-top:40px;}
.sp-mt50{margin-top:50px;}
.sp-mt60{margin-top:60px;}
.sp-mt70{margin-top:70px;}
.sp-mt80{margin-top:80px;}

.sp-mb5{margin-bottom:5px;}
.sp-mb10{margin-bottom:10px;}
.sp-mb15{margin-bottom:15px;}
.sp-mb20{margin-bottom:20px;}
.sp-mb30{margin-bottom:30px;}
.sp-mb40{margin-bottom:40px;}
.sp-mb50{margin-bottom:50px;}
.sp-mb60{margin-bottom:60px;}
.sp-mb70{margin-bottom:70px;}
.sp-mb100{margin-bottom:100px;}

.sp-mr5{margin-right:5px;}
.sp-mr10{margin-right:10px;}
.sp-mr12{margin-right:12px;}
.sp-mr15{margin-right:15px;}
.sp-mr20{margin-right:20px;}
.sp-mr25{margin-right:25px;}
.sp-mr30{margin-right:30px;}
.sp-mr37{margin-right:37px;}
.sp-mr40{margin-right:40px;}
.sp-mr45{margin-right:45px;}
.sp-mr50{margin-right:50px;}
.sp-mr65{margin-right:65px;}
.sp-mr80{margin-right:80px;}

.sp-ml5{margin-left:5px;}
.sp-ml10{margin-left:10px;}
.sp-ml15{margin-left:15px;}
.sp-ml20{margin-left:20px;}
.sp-ml25{margin-left:25px;}
.sp-ml30{margin-left:30px;}
.sp-ml35{margin-left:35px;}
.sp-ml40{margin-left:40px;}
.sp-ml50{margin-left:50px;}
.sp-ml80{margin-left:80px;}
.sp-ml160{margin-left:160px;}
.sp-ml85{margin-left:85px;}
.sp-ml90{margin-left:90px;}
.sp-ml100{margin-left:100px;}
.sp-ml120{margin-left:120px;}


/*------Float　*/
.f-l{float:left;}
.f-r{float:right;}

/*------Text position　*/
.t-r{text-align:right;}
.t-c{text-align:center;}

/*------Line height　*/
.l-h-30{line-height:30px;}

/*------Font size　*/
.f-s12{font-size:12px;}
.f-s15{font-size:15px;}

/*------Font weight　*/
.f-w-100{font-weight:100;}
.f-w-b{font-weight:bold;}

/*------Font color　*/
.f-color-g1{color:#9EB99F;}
.f-color-g2{color:#00913A;}
.f-color-w{ color:#FFF;}
.f-color-r1{ color:#E83828;}
.f-color-r2{ color:#8B0D00;}
.color-gold{ color:#9d830f;}

.border-bottom1{ border-bottom:1px dotted #533C34;}

/*------Clear　*/
.clear{
	overflow: hidden;
	position: relative;
	zoom: 1;
}
/*------Link　*/
.link075 :hover {
	opacity:0.75;
}
.link075 a:hover {
	opacity:0.75;
}
