.wideslider {
	width: 100%;
	min-width:1000px;
	height: 360px;
	text-align: left;
	position: absolute;
	overflow: hidden;
	top:165px;
	
}
.wideslider img {
	display:none;
}
.wideslider ul,
.wideslider ul li {
	float: left;
	display: inline;
	overflow: hidden;
	
}

.wideslider_base {
	top: 0;
	position: absolute;
}
.wideslider_wrap {
	top: 0;
	position: absolute;
	overflow: hidden;

}


.slider_prev,
.slider_next {
	top: 0;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	cursor: pointer;
}
.slider_prev {background:url(../img/top/prev.jpg) no-repeat right center;}
.slider_next {background:url(../img/top/next.jpg) no-repeat left center;}
.slider_prev div {background:#604c3f;}
.slider_next div {background:#604c3f;}
.pagination {
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	position: absolute;
	z-index: 200;
	background:url(../img/top/slide_thum_bg.png) repeat;
}

.pagination a {
	margin: 13px 8px 0;
	width:100px;
	height:3px;
	display: inline-block;
	overflow: hidden;
	background-color:#333;
	
}
.pagination a.active {
	filter:alpha(opacity=100)!important;
	-moz-opacity: 1!important;
	opacity: 1!important;
	background: #b22838;
	
}

/* =======================================
	ClearFixElements
======================================= */
.wideslider ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

.wideslider ul {
	display: inline-block;
	overflow: hidden;
}