@charset "utf-8";

body,p,1h,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,@charset "utf-8";
/* CSS Document */

/*----------------------
	デフォルトスタイル
-----------------------*/
body,p,h1,h2,h3,h4,h5,h6,
span,small,strong,
div,ul,li,dl,dd,
figure,img,
header,footer,nav,section{
    margin:0;
    padding:0;
	border:none;
	outline:none;
}

body{
	line-height: 2;
	text-align: left;
	background: url(../img/common/header_bg.png) repeat-x center top;
	font-weight: normal;
	color: #7a6a56;
	font-size:13px;
	margin:0;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}


#bg-top{
	background-image: url(../img/common/bg_rose.png);
	background-repeat: no-repeat;
	background-position: top center;
}

/*-------------------------------------------------sample（削除可能）*/

#sample1{
	background: url(../img/sample1.png) no-repeat top center;
	height:2500px;
}

/*-------------------------------------------------sub*/



/*--------------------------------------------------Common */
a:hover {
	opacity:0.6;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all  0.4s ease;}

/*-------Header */
header{
	width:1000px;
	height:110px;
	margin:0 auto;
	overflow: hidden; position: relative;zoom:1;
}
	header section{
		float:right;
	}
	header h2{
		float:left;
		margin-left:425px;
	}
	header address ul{
		overflow: hidden; position: relative;zoom:1;
	}
		header address ul li{
			float:right;
		}

/*-------Nav */
nav{
	width:1000px;
	height:55px;
	margin:0 auto;
}
	nav ul{
		overflow: hidden; position: relative;zoom:1;
	}
	nav li{
		float:left;
	}
	
/*-------Content */
article{
	width:1000px;
	margin:0 auto;
}

/*-------Footer */
footer{
	background:#d78490;
	margin-top:50px;
}

.NaviFooter{
	width: 1000px;
	padding: 15px 0;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	zoom: 1;
}
	.NaviFooter li{
		float:left;
	}
	
.NaviFooter-contact{
	float: left;
	width: 410px;
	margin-right: 30px;
	overflow: hidden;
	position: relative;
	zoom: 1;
	background: url(../img/common/footer_line.png) no-repeat right center;
}

#NaviFooter-navi{
	float:left;
	margin-top:40px;
}
	#NaviFooter-navi li{
		line-height:13px;
		border-right:1px solid #40220f;
		margin-right:14px;
		padding-right:14px;
	}
	#NaviFooter-navi a{
		color:#40220f;
	}
	#NaviFooter-navi a:visited {
	  color: #40220f;
	}
	
.NaviFooter-copy{
	text-align:center;
	background:#d06373;
}
	.NaviFooter-copy p{
		color:#e5acb7;
		font-size:12px;
	}
/*-------Tytle */
.ttl01-480{
	height:50px;
	overflow: hidden; position: relative;zoom:1;
	background: url(../img/common/ttl01_480.png) no-repeat left bottom;
	margin-bottom:30px;
}
	.ttl01-480 h4{
		float:left;
		line-height:50px;
		font-size:15px;
		font-weight:300;
		letter-spacing:0.2em;
		color:#40220f;
	}
	.ttl01-480 span{
		float:left;
		line-height:50px;
		padding-left:33px;
		font-size:8px;
		color:#bea65e;
	}
	
.ttl01-750{
	height:50px;
	overflow: hidden; position: relative;zoom:1;
	background: url(../img/common/ttl01_750.png) no-repeat left bottom;
	margin-bottom:30px;
}
	.ttl01-750 h4{
		float:left;
		line-height:50px;
		font-size:15px;
		font-weight:300;
		letter-spacing:0.2em;
		color:#40220f;
	}
	.ttl01-750 span{
		float:left;
		line-height:50px;
		padding-left:33px;
		font-size:8px;
		color:#bea65e;
	}

.Ttl01{
	text-align:center;
	border-bottom:1px solid #a67c52;
	padding-bottom:5px;
}
.Ttl01 h5{
	color:#a67c52;
	font-size:25px;
	line-height:30px;
}
.Ttl01 p{
	color:#c7b299;
}
/*-------h3 */
.h3Top{
	height:330px;
	margin-bottom:50px;
	text-align:center;
	background: url(../img/top/h3_bg.png) no-repeat top center;
}
.h3Sub{
	height:150px;
	margin-bottom:50px;
	text-align:center;
	background: url(../img/common/h3_bg.png) no-repeat top center;
}

/*-------Table */
.Table01 th{
	background:#cdb87f;
	color:#FFFFFF;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:100;
	font-size:15px;
	letter-spacing:0.2em;
	line-height:30px;
	text-align:center;
}
.Table01 td{
	padding:15px 0;
}
	.Table01 .Label01 div{
		width:80px;
		height:65px;
		border-radius:40px;
		border:1px solid #cdb87f;
		text-align:center;
		color:#a67c52;
		padding:10px 0 0 0;
		margin:0 100px;
	}
	.Table01 .Price{
		text-align:right;
	}
	.Table01 .Label02{
		border-bottom:1px solid #cdb87f;
	}
	
	
	
/*-------owner */
.Owner{
	min-height:300px;
	background:url(../img/owner/img.png) no-repeat right top;
}

/*-------contact */
.ContactSub{
	height:136px;
	background: url(../img/common/contact_bg.png) no-repeat left center;
	overflow: hidden; position: relative;zoom:1;
	margin:50px 0 90px;
}
	.ContactSub dt{
		float:left;
	}
	.ContactSub dd{
		float:left;
	}
		.ContactSub dd ul{
			overflow: hidden; position: relative;zoom:1;
			margin-left:35px;
		}
			.ContactSub dd ul li{
				float:left;
				padding:18px 25px;
			}
			
/*-------menu */
.MenuSub{
	background-image:
		url("../img/common/menu_bg_top.png"),
		url("../img/common/menu_bg_bottom.png");
	background-repeat:no-repeat;
	background-position:center top, center bottom;
	padding:30px 0 50px 0;
}
	.MenuSub dd ul{
		overflow: hidden; position: relative;zoom:1;
		margin-top:20px;
	}
		.MenuSub dd ul li{
			float:left;
			margin-right:5px;
		}


.MainNaviMenu03{
	height:150px;
	position: relative;
	overflow: hidden;
	background:url(../img/menu03/navi_bg.png) no-repeat center;
	margin-bottom: 70px;
}
	.MainNaviMenu03 ul {
		position: relative;
		left: 50%;
		float: left;
		margin:45px 0;
	}
	.MainNaviMenu03 ul li {
		position: relative;
		left: -50%;
		float: left;
		margin:0 5px;
	}

.CampaignMenu03{
	min-height:432px;
	background:url(../img/menu03/campaign_bg.png) no-repeat center top;
	margin-bottom:40px;
}
	.CampaignMenu03 p{
		width:360px;
		padding-top:155px;
	}
	
/*--------------------------------------------------News*/
.News dt{
	margin-bottom:20px;
}
		.News dt h4{
			height:60px;
			background: url(../img/common/ttl02.png) no-repeat left top;
			line-height:60px;
			font-size:18px;
			font-weight:100;
			color:#9d830f;
			padding-left:60px;
			margin-bottom:15px;
		}
		.News dt span{
			background:#9d830f;
			padding:3px 10px;
			margin-bottom:30px;
			color:#FFF;
			border-radius:3px;
		}
.News dd{
	margin:0 0 70px;
}
.News dd ul{
	margin-top:30px;
	overflow: hidden; position: relative;zoom:1;
}
.News dd ul li{
	float:left;
	border:1px solid #CCC;
	padding:3px;
	margin-right:20px;
}
/*--------------------------------------------------Welcome*/
.IntroWelcome{
	background: url(../img/welcome/intro_bg.png) no-repeat left top;
}
	.IntroWelcome p{
		padding:32px 0 165px 315px;
		text-align:right;
	}

.AboutWelcome{
	margin:60px 0 110px;
}
	.AboutWelcome h4{
		margin-bottom:15px;
	}
	.AboutWelcome dl{
		margin:65px 0 35px;
		overflow: hidden; position: relative;zoom:1;
	}
	.AboutWelcome dt{
		margin-bottom:35px;
	}
	.AboutWelcome dd{
		width:350px;
		float:left;
	}
		.AboutWelcome dd h6{
			margin-bottom:25px;
		}
		.AboutWelcome dd p{
			color:#9d830f;
		}
	.AboutWelcome div{
		padding:20px;
		text-align:center;
		border:1px solid #604c3f;
		border-radius:3px;
	}
	
.InfoWelcome{
	overflow: hidden; position: relative;zoom:1;
}
	.InfoWelcome li{
		margin-bottom:35px;
		overflow: hidden; position: relative;zoom:1;
	}
		.InfoWelcome li h6{
			float:left;
			line-height:16px;
			color:#9d830f;
			width:95px;
			padding-left:30px;
			background: url(../img/common/arrow_gold02.png) no-repeat 100px center;
		}
		.InfoWelcome li p{
			float:left;
			line-height:16px;
		}
.InfoWelcome div{
	width:375px;
	float:left;
}
.Label01Welcome{background: url(../img/welcome/icon_time.png) no-repeat left center}		
.Label02Welcome{background: url(../img/welcome/icon02.png) no-repeat left center}		
.Label03Welcome{background: url(../img/welcome/icon03.png) no-repeat left center}		
.Label04Welcome{background: url(../img/welcome/icon04.png) no-repeat left top}		
.Label05Welcome{background: url(../img/welcome/icon05.png) no-repeat left top}	

.MapWelcome{
	border-radius:200px;
}

/*--------------------------------------------------Menu(Common)*/
.Menu h4{
	margin:0 0 90px 0;
}

.Menu ul{
	overflow: hidden; position: relative;zoom:1;
	margin-left:45px;
}
.Menu ul li{
	width:260px;
	float:left;
	}
	.Menu ul li h5{
		color:#9d830f;
		font-size:18px;
		font-weight:bold;
		text-align:center;
		margin:20px 0;
	}
	.Menu ul li p{
		margin-bottom:20px;
	}
	
.Price01Menu h6{
	text-align: center;
	font-size:20px;
	color:#cdb87f;
	letter-spacing:0.4em;
	font-weight:100;
}

.Price01Menu dd ul{
	border-top:1px dotted #b3b3b4;
}
.Price01Menu dd ul li{
	border-bottom:1px dotted #b3b3b4;
	padding:20px 0;
}
	.Price01Menu dd ul li dl{
		overflow: hidden; position: relative;zoom:1;
	}
	.Price01Menu dd ul li dl dt{
		width:44%;
		float:left;
		background: url(../img/menu/ttl.png) no-repeat left 8px;
		padding-left:6%;
	}
		.Price01Menu dd ul li dl dt h5{
			font-size:16px;
			color:#40220f;

		}
	.Price01Menu dd ul li dl dd{
		width:50%;
		float:left;
	}
	.Price01Menu dd ul li dl dd ul{
		border:none;
	}
	.Price01Menu dd ul li dl dd ul li{
		padding:10px 0;
		border:none;
		overflow: hidden; position: relative;zoom:1;
	}
	.Price01Menu dd ul li dl dd ul li div{
		float:right;
		line-height:30px;
	}
	.Label01Menu{
		width:30%;
		text-align:center;
		background:#cdb87f;
		border-radius:3px;
		font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
		font-weight:bold;
		color:#FFF;
	}
	.Label02Menu{
		width:30%;
		text-align:right;
		color:#9d830f;
		font-style:oblique;
	}
	.Label03Menu{
		width:30%;
		text-align:right;
		font-size:16px;
		color:#40220f;
		font-style:oblique;
		padding-right:3%;
	}

.Price02Menu{
	overflow: hidden; position: relative;zoom:1;
}
.Price02Menu dd ul{
	width:350px;
	border-top:1px dotted #b3b3b4;
}
.Price02Menu dd ul li{
	border-bottom:1px dotted #b3b3b4;
	padding:20px 0;
}
	.Price02Menu dd ul li dl{
	}
	.Price02Menu dd ul li dl dt{
		background: url(../img/menu/ttl.png) no-repeat left 8px;
		padding-left:12%;
	}
		.Price02Menu dd ul li dl dt h5{
			font-size:16px;
			color:#40220f;
		}
			.Price02Menu dd ul li dl dt h5 span{
				color:#d70051;
				font-size:13px;
				padding-right:15px;
			}
	.Price02Menu dd ul li dl dd{
	}
	.Price02Menu dd ul li dl dd ul{
		overflow: hidden; position: relative;zoom:1;
		border:none;
	}
	.Price02Menu dd ul li dl dd ul li{
		padding:10px 0;
		border:none;
		overflow: hidden; position: relative;zoom:1;
	}
	.Price02Menu dd ul li dl dd ul li div{
		float:right;
		line-height:30px;
	}
.Price02Menu_Left{
	float:left;
}
.Price02Menu_Right{
	float:right;
}

.tax{
	text-align:right;
}
	.tax p{
		color:#852323;
	}
/*--------------------------------------------------Menu*/
/*---  Menu01*/
.IntroMenu01{
	background: url(../img/menu01/intro_bg.png) no-repeat left top;
	min-height:290px;
	padding:30px 0 0 270px;
	margin:48px 0 80px;
}

/*---  Menu02*/
.IntroMenu02{
	background: url(../img/menu02/intro_bg.png) no-repeat left top;
	min-height:290px;
	padding:30px 0 0 270px;
	margin:48px 0 80px;
}

.FeaturesMenu02{
	width:660px;
	margin:0 auto;
	text-align:center;
	padding:12px 0;
	margin:35px auto 50px;
	border:1px solid #d1b400;
}
	.FeaturesMenu02 p{
		color:#9d830f;
	}

.CelluliteMenu02{
	background: url(../img/menu02/cellulite_bg.png) no-repeat center top;
	min-height:290px;
	margin:50px 0 90px;
}
	.CelluliteMenu02 h5 img{
		margin:30px 0 25px;
	}
	.CelluliteMenu02 p{
		margin:0 0 10px 30px;
	}
	
.Price01Menu02 dt{
	margin-bottom:50px;
}
.Price01Menu02 table{
	width:100%;
	border:1px dotted #9d830f;
	margin-bottom:30px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align:center;
}
	.Price01Menu02 table th{
		border:1px dotted #9d830f;
		background:#f1dc8f;
		color:#9d830f;
	}
	.Price01Menu02 table td{
		border:1px dotted #9d830f;
		background:#fbefcc;
		color:#40220f;
		line-height:18px;
		padding:15px 0;
	}
	
.AttentionMenu02{
	margin-bottom:80px;
}
	.AttentionMenu02 dt{
		font-weight:bold;
	}
	.AttentionMenu02 dd{
		margin-bottom:30px;
	}
	.AttentionMenu02 li{
		list-style:inside;
		list-style-type:square;
	}

.Label01Menu02{
	width:10%;
}
.Label02Menu02{
	width:18%;
}
.Label03Menu02{
	color:#d70051;
	font-size:18px;
	font-weight:bold;
}
.Label04Menu02{
	color:#d70051;
	font-size:12px;
}
.Label05Menu02{
	font-size:18px;
	font-weight:bold;
}
/*---  Menu03*/
.IntroMenu03{
	background: url(../img/menu03/intro_bg.png) no-repeat left top;
	min-height:290px;
	padding:30px 0 0 270px;
	margin:0 0 40px;
}

.FeaturesMenu03{
	overflow: hidden; position: relative;zoom:1;
	margin-bottom:80px;
}
	.FeaturesMenu03 dt{
		width:120px;
		float:left;
		margin-right:50px;
	}
	.FeaturesMenu03 dd{
		float:left;
	}
		.FeaturesMenu03 dd li{
			width:240px;
			float:left;
		}
			.FeaturesMenu03 dd li img{
				margin-bottom:25px;
			}

.NaviMenu03{
  position: relative;
  overflow: hidden;
}
	.NaviMenu03 ul{
	  position: relative;
	  left: 50%;
	  float: left;
	}
	.NaviMenu03 ul li{
	  position: relative;
	  left: -50%;
	  float: left;
	  padding:20px;
	}

.PartsManu03{
	overflow: hidden; position: relative;zoom:1;
}
	.PartsManu03 img{
		float:left;
	}
	.PartsManu03 dl{
		float:left;
		margin-left:60px;
	}
		.PartsManu03 dt a{
			display:block;
			width:330px;
			height:22px;
			text-align:center;
			background:url(../img/common/arrow_white01.png) no-repeat 18px center;
			color:#FFF;
			line-height:22px;
			border-radius:3px;
			margin-bottom:15px;
			text-decoration:none;
		}
		.PartsManu03 dt span{
			font-size:22px;
			font-weight:bold;
			padding-right:10px;
		}
		.PartsManu03 dd{
			margin-bottom:55px;
			font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
		}
		
		.Sdt{background:#ffa8b4;}
		.Sdd{color:#ee627d;}
		.Mdt{background:#AADE5C;}
		.Mdd{color:#97B520;}
		.Ldt{background:#A8D9DD;}
		.Ldd{color:#64B4C8;}

.AttentionMenu03 {
	margin-bottom:90px;
}
	.AttentionMenu03 ul{
		margin:0 0 0 10px;
	}
	.AttentionMenu03 li{
		list-style:inside;
		list-style-type:decimal-leading-zero;
	}
		.AttentionMenu03 ul{
			margin:0;
		}
		.AttentionMenu03 ul li{
			list-style-type:circle;
		}

/*---  Menu05*/
.IntroMenu05{
	background: url(../img/menu05/intro_bg.png) no-repeat left top;
	min-height:230px;
	padding:120px 0 0 270px;
	margin:48px 0 0px;
}

.FeaturesMenu05{
	overflow: hidden; position: relative;zoom:1;
	margin-bottom:90px;
}
	.FeaturesMenu05 li{
		width:230px;
		float:left;
	}
	
/*---  Menu06*/
.IntroMenu06{
	background: url(../img/menu06/intro_bg.png) no-repeat left top;
	min-height:220px;
	padding:80px 0 0 270px;
	margin:48px 0 0;
}

/*---  Menu07*/
.IntroMenu07{
	background: url(../img/menu07/intro_bg.png) no-repeat left top;
	min-height:365px;
	padding:120px 0 0 270px;
	margin:48px 0 0;
}

/*---  Menu08*/
.IntroMenu08{
	min-height:120px;
	background: url(../img/menu08/intro_bg.png) no-repeat left top;
	padding:170px 0 0 285px;
	margin:48px 0 30px;
}

.Menu08BF li{
	overflow: hidden; position: relative;zoom:1;
	border-bottom:1px dotted #b5b5b6;
	margin-bottom:20px;
	padding-bottom:20px;
}
	.Menu08BF li img{
		float:left;
	}
	.Menu08FB li p{
		margin-left:415px
	}
	
.Menu08Reset{
	margin-bottom:50px;
}
.Menu08Reset h4{
	margin-bottom:30px;
}
	.Menu08Reset .Left img{
		float:left;
	}
	.Menu08Reset .Left p{
		margin-left:170px;
	}
	.Menu08Reset .Right img{
		float:right;
	}
	.Menu08Reset .Right p{
		margin-right:170px;
	}
.Menu08Reset dl{
	margin-bottom:40px;
}
	.Menu08Reset dl dd{
		overflow: hidden; position: relative;zoom:1;
		margin-bottom:15px;
	}
.Menu08Reset .Comment{
	text-align:center;
	font-size:18px;
	color:#9d830f;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight:bold;
	letter-spacing:0.15em;
}

/*--------------------------------------------------Shop*/
.Shop{
	background: url(../img/shop/01_bg.png) no-repeat left top;
	margin-bottom:50px;
}
	.Shop dt{
		padding:95px 0 40px;
	}
		.Shop dd{
			margin-bottom:50px;
		}
		.Shop dd li{
			border-bottom:1px dotted #b3b3b4; 
			overflow: hidden; position: relative;zoom:1;
		}
			.Shop dd li h5{
				width:150px;
				float: left;
				line-height:54px;
				font-size:13px;
				color:#40220f;
				padding-left:30px;
			}
			.Shop dd li p{
				float:left;
				line-height:54px;
			}
/*--------------------------------------------------Top*/
.EstheTop{
	width:480px;
	float:left;
}
	.EstheTop a:hover {
		opacity:0.8;
	}
	.EstheTop ul{
		overflow: hidden; position: relative;zoom:1;
	}
	.EstheTop ul li{
		float:left;
		width:150px;
		margin-bottom:30px;
	}
		.EstheTop ul li img{
			margin-bottom:10px;
		}
		.EstheTop ul li p{
			margin-bottom:15px;
			color:#7a6a56;
		}
	.EstheTop h5{
		font-size:14px;
		margin-bottom:10px;
		font-weight:bold;
		color:#9d830f;
	}

.TopLeft{
	float:left;
	width:480px;
	margin-left:40px;
	overflow: hidden; position: relative;zoom:1;
}
.NewsTop{
	height: 340px;
	border-bottom: 1px solid #dcdddd;
	margin-bottom:60px;
}
	.NewsTop dl{
		height:250px;
		overflow-y:scroll;
	}
		.NewsTop div{
			overflow: hidden; position: relative;zoom:1;
			margin-bottom:25px;
		}
		.NewsTop dt{
			width:23%;
			float:left;
			letter-spacing:0.1em;
			font-weight:300;
			font-style:italic;
			color:#40220f;
		}
		.NewsTop dd{
			width:77%;
			float:left;
		}
			.NewsTop dd a{
				background: url(../img/common/arrow_gold01.png) no-repeat left center;
				color:#9d830f;
				padding-left:10px;
			}

.BnrTop01{
	margin-bottom:50px;
}
	.BnrTop01 ul{
	}
	.BnrTop01 li{
		overflow: hidden; position: relative;zoom:1;
		margin-bottom:30px;
	}
	.BnrTop01 li img{
		float:left;
	}
	.BnrTop01 li div{
		float:left;
		margin-left:30px;
	}
		.BnrTop01 li div img{
			margin-bottom:15px;
		}
	.BnrTop01 li a {
		text-decoration:none;
	}
	.BnrTop01 li a:hover {
		opacity:0.8;
	}
	.BnrTop01 li p{
		font-size:12px;
		color:#7a6a56;
	}
	
.BnrTop02 ul{
	overflow: hidden; position: relative;zoom:1;
}
	.BnrTop02 li{
		float:left;
	}
	.BnrTop02 a:hover {
		opacity:0.9;
	}
/*--------------------------------------------------全ページ共通*/

html{overflow-y:scroll;}
img {border-style:none;}
a img {border-style:none;}
ul{margin:0; padding:0;}
li{list-style:none;}
dl{margin:0;}
dd{margin:0;}
table { 
	border-collapse:collapse;
	}

#main{
	width:750px;
	float:left;
}
#side{
	width:200px;
	float:right;
}
/*--------------------------------------------------Side*/
.EstheSide{
	margin-bottom:50px;
}
	.EstheSide dt{
		margin-bottom:40px;
	}
		.EstheSide dd ul{
			border-top:1px solid #d1b400;
		}
			.EstheSide dd ul li{
				border-bottom:1px solid #d1b400;
				padding-top:5px;
			}

.BnrSide{
	margin-bottom:50px;
}
	.BnrSide li{
		margin-bottom:25px;
	}
	
.AddSide{
	height:200px;
	background: url(../img/side/03_bg.png) no-repeat left top;
	margin-bottom:55px;
}
.AddSide ul{
	margin-top:15px;
}

.LinksSide dt{
	margin-bottom:10px;
}
	.LinksSide dd ul li{
		margin-bottom:25px;
	}
/*--------------------------------------------------Back to top button */
#back-top {
	position: fixed;
	bottom: 130px;
	margin-left: 1040px;
}
#back-top a {
	width: 126px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 126px;
	height: 158px;
	display: block;
	margin-bottom: 7px;
	background: url(../img/common/up-arrow_off.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background: url(../img/common/up-arrow_on.png) no-repeat center center;
}
