@charset "utf-8";
/* CSS Document */

h1{
	margin:0px;
	font-size:13px;
	color: #DCD4C2;
	text-align: left;
}
h2{margin:0px;
   font-size:13px;}
h3{margin:0px;
   font-size:13px;}
h4{margin:0px;
   font-size:13px;}
h5{margin:0px;
   font-size:13px;}
h6{margin:0px;
   font-size:13px;}
p{
	margin: 0px;
	font-size: 13px;
}
img{border:0;}

a:link {
  color: #69821b;
  font-size: 13px;
}

a:hover {
  color: #99ab4e;
  font-size: 13px;
}

a:visited {
  color: #69821b;
  font-size: 13px;
}
