@charset "utf-8";
/* CSS Document */

.red{
	color:#900;
	font-weight:bold;
}

/*--------------------------------------------------追加　*/

.add1{
	background-color:#333;
	padding:8px 0 8px 20px;
	margin:8px 10px 10px 0px;
	border-left:solid 8px #BFB191;
}

.add1 p{
	color:#CCC;
	font-size:16px;
	font-weight:bold;
	letter-spacing:0.3em;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}



/*--------------------------------------------------　*/
.pt1{
	width:600px;
	height:180px;
	margin-top: 20px;
	font-size: 12px;
	background-image: url(../img/pt2haike.png);
	padding-top: 100px;
	margin-left: 10px;
}
.pt1 p{
	margin-left: 20px;
	font-size: 12px;
}
.ptac{
	width:600px;
	height:auto;
	margin-top: 20px;
	font-size: 12px;
	margin-left: 10px;
}
.ptac p{
	margin-left: 20px;
	font-size: 12px;
}
.mh1{
	width:370px;
	height:auto;
	font-size: 12px;
	background-image: url(../img/m1h.png);
	background-repeat:no-repeat;
	padding-top: 160px;
	padding-left: 230px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.mh1-1{
	width:370px;
	height:auto;
	font-size: 12px;
	background-image: url(../img/mm1h.png);
	background-repeat:repeat-y;
	color: #666;
}
.mh2{
	width:370px;
	height:auto;
	font-size: 12px;
	background-image: url(../img/m2h.png);
	background-repeat:no-repeat;
	padding-top: 130px;
	padding-left: 230px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.mh2-1{
	width:370px;
	height:auto;
	font-size: 12px;
	background-image: url(../img/mm1h.png);
	background-repeat:repeat-y;
	color: #666;
}
.mh3{
	width:370px;
	height:150px;
	font-size: 12px;
	background-image: url(../img/m3h.png);
	background-repeat:no-repeat;
	padding-top: 150px;
	padding-left: 230px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.mh3-1{
	width:370px;
	height:auto;
	font-size: 12px;
	background-image: url(../img/mm1h.png);
	background-repeat:repeat-y;
	color: #666;
}
.mh4{
	width:370px;
	height:150px;
	font-size: 12px;
	background-image: url(../img/m4h.png);
	background-repeat:no-repeat;
	padding-top: 150px;
	padding-left: 230px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.mh4-1{
	width:370px;
	height:auto;
	font-size: 12px;
	background-image: url(../img/mm1h.png);
	background-repeat:repeat-y;
	color: #666;
}
.mmms{
	width:400px;
	height:150px;
	font-size: 12px;
	margin-left: 10px;
	padding-left: 200px;
	background-image: url(../img/ssb1.png);
	background-repeat:no-repeat;
	border-bottom: 1px dotted #1e1e1e;
}
.mmms2{
	width:400px;
	height:auto;
	font-size: 12px;
	margin-left: 10px;
	background-image: url(../img/ssb2.png);
	background-repeat:no-repeat;
	padding-right: 200px;
	margin-top: 20px;
}
.mmms3{
	width:400px;
	height:200px;
	font-size: 12px;
	margin-left: 10px;
	background-image: url(../img/ssb5.png);
	background-repeat:no-repeat;
	padding-right: 200px;
	margin-top: 20px;
}
.mmms4{
	width:400px;
	height:150px;
	font-size: 12px;
	margin-left: 10px;
	background-image: url(../img/ssb6.png);
	background-repeat:no-repeat;
	padding-right: 200px;
	margin-top: 20px;
}
.mmm1{
	width: 600px;
	height: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 20px;
	margin-left: 10px;
}
.mmm1 h5{
	font-size: 18px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	background-image: url(../img/mp.png);
	background-repeat: no-repeat;
	padding-left: 50px;
	letter-spacing:0.8em;
}
#fc1{color:#930;}
#fc{
	color:#936;
}

#fc2{
	color:#036;
}

#fc3{
	color:#C93;
}

.fc4{
	color: #360;
	font-weight: bold;
}

.mmm1 p{
	font-size: 13px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	padding-left: 50px;
	margin-top: 20px;
}
.mne-1{
	width:400px;
	height:90px;
	margin-top: 310px;
	font-size: 12px;
	margin-left: 40px;
	background-image: url(../img/sty-1.png);
	padding-top: 60px;
	padding-left: 250px;
	color: #FFF;
}
.mne-1 a{
	font-size: 12px;
	color: #FFF;
	text-align: right;
	margin-right: 30px;
}
.mne-2{
	width:400px;
	height:90px;
	margin-top: 35px;
	font-size: 12px;
	margin-left: 120px;
	background-image: url(../img/sty-2.png);
	padding-top: 60px;
	padding-left: 250px;
	color: #FFF;
}
.mne-2 a{
	font-size: 12px;
	color: #FFF;
	text-align: right;
	margin-right: 30px;
}
.mne-3{
	width:400px;
	height:90px;
	margin-top: 35px;
	font-size: 12px;
	margin-left: 30px;
	background-image: url(../img/sty-3.png);
	padding-top: 60px;
	padding-left: 250px;
	color: #FFF;
}
.mne-3 a{
	font-size: 12px;
	color: #FFF;
	text-align: right;
	margin-right: 30px;
}
.mne-4{
	width:400px;
	height:90px;
	margin-top: 33px;
	font-size: 12px;
	margin-left: 150px;
	background-image: url(../img/sty-4.png);
	padding-top: 60px;
	padding-left: 250px;
	color: #FFF;
	margin-bottom: 50px;
}
.mne-4 a{
	font-size: 12px;
	color: #FFF;
	text-align: right;
	margin-right: 30px;
}
.pt1-l{
	width:300px;
	height:auto;
	font-size: 12px;
	float:left;
	margin-top: 15px;
}
.pt1-l p{
	margin-left:0px;
	margin-top: 10px;
}
.pt1-l span{
	color:#903;
	font-size:12px;
}
.pt1-r{
	width:300px;
	height:auto;
	margin-left: 20px;
	font-size: 12px;
	float:left;
	margin-top: 15px;
}
.pt1-r p{
	margin-left:0px;
	margin-top: 10px;
}
.pt1-r span{
	color:#903;
	font-size:12px;
}
.pt2{
	width:590px;
	height:120px;
	margin-top:15px;
	margin-bottom:30px;
	background-image: url(../img/qahaikei.png);
	padding-left: 30px;
	padding-top: 60px;
	font-size: 12px;
}
.pt2 a:link {
  color: #fff;
  font-size: 12px;
}

.pt2 a:hover {
  color: #fff;
  font-size: 12px;
}

.pt2 a:visited {
  color: #fff;
  font-size: 12px;
}
.pt21{
	width:270px;
	height:auto;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pt22{
	width:290px;
	height:auto;
	margin-top: 10px;
	padding: 5px;
	border-bottom: 1px #EFEFEF solid;
	border-top: 1px #EFEFEF solid;
	color: #666;
}
.pt22 p{font-size:12px;
        margin-left:20px;}
.pt3{
	width:340px;
	height:100px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.pt4{
	width:600px;
	height:200px;
	font-size: 12px;
	background-image: url(../img/pt1haike.png);
	padding-top: 200px;
	margin-left: 10px;
}
.pt4 p{
	margin-left: 20px;
	font-size: 12px;
	line-height: 2;
	color: #C6A98F;
}
.pt5{
	width:620px;
	height:auto;
	font-size: 12px;
	line-height: 2;
	
}
.pt5 p{
	margin-left: 20px;
	font-size: 12px;
}
.pt6{
	width:620px;
	height:auto;
	font-size: 12px;
	
}
.pt6 p{
	margin-left: 10px;
	margin-top: 5px;
	padding-left: 35px;
}
.pt6 span{
	margin-left: 10px;
	margin-top: 5px;
	padding-left: 50px;
}
.qu{
	height:30px;
	font-size:14px;
	font-weight:bold;
	color:#066;
	background-image: url(../img/q.png);
	background-repeat:no-repeat;
}
.an{
	height:30px;
	text-align:right;
	font-size:16px;
	color:#903;
	font-weight:bold;
	margin-right:50px;
}
.an2{
	height:70px;
	background-image: url(../img/a.png);
	background-repeat:no-repeat;
	text-align:right;
}
table#table-01 th {
    padding: 5px;
	font-size:12px;
    border: #E3E3E3 solid;
    border-width: 1px 1px 1px 1px;
    background: #F5F5F5;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
table#table-01 td {
    padding: 5px;
	font-size:12px;
    border: 1px #E3E3E3 solid;
    border-width: 1px 1px 1px 1px;
    text-align: center;
}
