﻿@charset "utf-8";
/* CSS Document */

/*--- SEOテキスト全体の配置 ---*/
/* 左よせ */
.sbox_lft table{
	margin:0;
}
.sbox_lft{
	text-align:left;
}
/* 右よせ */
.sbox_rgt table{
	margin:0 0 0 auto;
}
.sbox_rgt{
	text-align:right;
}
/* 中央 */
.sbox_cen table{
	margin:0 auto;
}
.sbox_cen{
	text-align:center;
	height: 20px;
}


/*--- h1テキスト ---*/
/* 文字色無指定 */
h1.stext{
	font-size:11px;
	margin:0;
	background:none;
	width:auto;
	height:auto;
}
/* 文字色#000000 */
h1.stext_blk{
	color:#000000; /* 文字色 */
	font-size:11px;
	margin:0;
	background:none;
	width:auto;
	height:auto;
}
/* 文字色#FFFFFF */
h1.stext_wht{
	color:#000; /* 文字色 */
	font-size:9px;
	margin:0;
	background:none;
	width:auto;
	height:auto;
}
/* 文字色:#BBBBBB */
h1.stext_gly{
	color:#BBBBBB; /* 文字色 */
	font-size:11px;
	margin:0;
	background:none;
	width:auto;
	height:auto;
}

/*--- summaryテキスト ---*/
/* 文字色無指定 */
div.summary{
	font-size:9px;
	background:none;
	width:auto;
	height:auto;
}
/* 文字色#000000 */
div.summary_blk{
	color:#000000; /* 文字色 */
	font-size:11px;
	background:none;
	width:auto;
	height:auto;
}
/* 文字色#FFFFFF */
div.summary_wht{
	color:#000; /* 文字色 */
	font-size:9px;
	background:none;
	width:auto;
	height:auto;
}
/* 文字色#BBBBBB */
div.summary_gly{
	color:#BBBBBB; /* 文字色 */
	font-size:11px;
	background:none;
	width:auto;
	height:auto;
}

/*--- 自己リンクテキスト ---*/
/* 文字色無指定 */


/* 文字色#000000 */
a.slink_blk:link{
	color:#000000; /* 文字色 */
}
a.slink_blk:visited{
	color:#000000; /* 文字色 */
}
a.slink_blk:hover{
	color:#000000; /* 文字色 */
}
a.slink_blk:active{
	color:#000000; /* 文字色 */
}

/* 文字色#FFFFFF */
a.slink_wht:link{
	color:#000; /* 文字色 */
}
a.slink_wht:visited{
	color:#000; /* 文字色 */
}
a.slink_wht:hover{
	color:#FFFFFF; /* 文字色 */
}
a.slink_wht:active{
	color:#000; /* 文字色 */
}

/* 文字色#BBBBBB */
a.slink_gly:link{
	color:#BBBBBB; /* 文字色 */
}
a.slink_gly:visited{
	color:#BBBBBB; /* 文字色 */
}
a.slink_gly:hover{
	color:#BBBBBB; /* 文字色 */
}
a.slink_gly:active{
	color:#BBBBBB; /* 文字色 */
}

/*--- strong font-weight ---*/
/* bold */
strong.ojtsseo_bld{
	font-weight:bold;
}
/* nomal */
strong.ojtsseo_nrm{
	font-weight:normal;
}

/*--- em font-style ---*/
/* italic */
em.ojtsseo_itl{
	font-style:italic;
}
/* normal */
em.ojtsseo_nrm{
	font-style:normal;
}
