@charset "utf-8";
body{
	margin:0;
	background:#fff;
	color:#000;
	line-height:1.5;
	text-align:center;
	background-image: url(../img/bghaikei.png);
	background-repeat: no-repeat;
	background-position: top center;
}
#subbody{
	margin:0;
	background:#fff;
	color:#000;
	line-height:1.5;
	text-align:center;
	background-image: url(../img/subbghaikei.png);
	background-repeat: no-repeat;
	background-position: top center;
}
#subbody2{
	margin:0;
	background:#fff;
	color:#000;
	line-height:1.5;
	text-align:center;
	background-image: url(../img/subbghaikei2.png);
	background-repeat: no-repeat;
	background-position: top center;
}
#subbody3{
	margin:0;
	background:#fff;
	color:#000;
	line-height:1.5;
	text-align:center;
	background-image: url(../img/subbghaikei3.png);
	background-repeat: no-repeat;
	background-position: top center;
}
html{overflow-y:scroll;}
#subbody{
	margin:0;
	
	color:#000;
	line-height:1.5;
	text-align:center
}


#container {
	width: 100%;
	text-align:left;
	margin-left: auto;
	margin-right: auto;
	float: left;
	background-repeat:repeat-y;
	background-position:top center;
}
#header-top{
	height: 120px;
	width: 100%;
}
#header{
	background-image: url(../img/hehaikei.png);
	height: 120px;
	width: 950px;
	margin: 0 auto;
}
#contents{
	width:1080px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background-image: url(../img/haikei2.png);
	color: #423530;
	padding-bottom: 40px;
}
#top-top{
	width:100%;
	height:290px;
}
#top-subtop{
	width:100%;
	height:230px;
}
#top-top2{
	width:100%;
	height:250px;
	background-image: url(../img/back3.png);
}
#top{
	width:950px;
	height:auto;
	margin: 0 auto;
}
#top ul {
	width: 180px;
	height: 400px;
	list-style-type: none;
	margin: 0;
	padding:0;
	float: left;
}

#top ul li {
	float: left;
	cursor: pointer;
	display: block;
}
#top-main{
	width:770px;
	height:400px;
	position:absolute;
	top: 70px;
	margin-left: 180px;
}
#navi-top{
	width:100%;
	height:52px;
	padding:0;
}
#navi{
	width:950px;
	height:45px;
	padding:0;
	margin: 0 auto;
}
	  
#navi ul{
	margin:0;
	padding:0;
	list-style-type : none;
}
		 
#navi li{
	display: block;
	height:100%;
	float:left;
}
	  

#li.menu1{
	float:left;
	width:120px;
	height:100%;
	margin:0;
	padding: 0;
}

#li.menu2{
	float:left;
	width:190px;
	height:100%;
}
#li.menu3{
	float:left;
	width:190px;
	height:100%;
}
#li.menu4{
	float:left;
	width:190px;
	height:100%;
}
#li.menu5{
	float:left;
	width:190px;
	height:100%;
}
#main{
	width:620px;
	float:left;
	margin-right: 30px;
	margin-left: 65px;
}
#mne{
	width:920px;
	float:left;
	margin-right: 80px;
	margin-left: 80px;
	background-image: url(../img/sty.png);
	background-repeat: no-repeat;
}
#sub{
	float:left;
	width:302px;
	margin-right: 63px;
}
#sub2{
	border-left: 1px solid #40220F;
	border-right: 1px solid #40220F;
	border-bottom: 1px solid #40220F;
	margin: 0;
	padding-bottom: 20px;
}
#footer{
	clear:both;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	padding-top: 100px;
	background-image: url(../img/foothaikei.png);
	background-position: top center;
	color: #423530;
}
