<?php
	foreach ($data as $row)
	{
?>
            <dt>
				<?php
					echo date('Y.m.d', $row['Article']['regist_dt']);
				?>
            </dt>
            <dd>
				<?php
					$url = 'news.php?article_id='.$row['Article']['article_id'];
					
					
					printf
					(
						'<a href="%s">%s</a>',
						$url,
						$row['Article']['title']
					);
				?>
            </dd>
<?php
	}
?>